
<% if  current_user.owner? %>
<h1>orders</h1>
<table>
<thead>
<tr>
<th>ID</th>
<th>Status</th>
<th>Actions</th>
</tr>
</thead>
<%@orders.each do|order|%>
  <tr>
  <td><%=order.id%></td>
  <td><%=order.status%></td>
  <td>
  <%= link_to 'View Details',"/restaurants/#{@restaurant.id}/orders/#{order.id}"%>
 
  <%= link_to 'Accept Order',"/restaurants/#{@restaurant.id}/orders/#{order.id}/accept",data:{
    turbo_method: :post}%>
 
  </td>
  </tr>
  <%end%>
  </tbody>
  </table>

<%else%>
<h1>orders</h1>
<table>
<thead>
<tr>
<th>ID</th>
<th>Email</th>
<th>Address</th>
<th>Status</th>
<th>Action</th>

</tr>
</thead>
<%@orders.each do|order|%>
  <tr>
  <td><%=order.id%></td>
  <td><%=order.email%></td>
  <td><%=order.address%></td>

  <td><%=order.status%></td>
  <td><%= link_to 'View Details',"/orders/#{order.id}"%></td>
  </tr>
  <%end%>
  </tbody>
  </table>
<%end%>