<h1>New Restaurant</h1>

<%= form_with model:  [@restaurant,@restaurant#food_items.build] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br><br>

  <%= f.label :ingredients %>
  <%= f.text_field :ingredients %><br><br>

  <%= f.label :image %>
  <%= f.file_field :image %><br><br>
  <%= f.submit  %>
<% end %>

<%= link_to 'Back', restaurant_food_items_path %>