


<% unless current_user.superadmin? ||  current_user.owner? %>

<h1><%= @restaurant.name %></h1>

<h1>Food Items</h1>
<div class="restaurants">
  <% @food_items.each do |food_item| %>
    <div class="card">
      <h3><%= food_item.name %></h3>
      <% if food_item.image.present? %>
      <%= image_tag food_item.image, class: 'restaurant-image' %>
    <% end %>
      <p><%= number_to_currency(food_item.price,unit: "Rs") %></p>
      <%= link_to 'View Details', "../#{@restaurant.id}/food_items/#{food_item.id}", class: 'btn btn-primary' %>
  
    </div>
  <% end %>
</div>
<%else%>

<h1>FoodItems</h1>
<%= link_to "New FoodItems?",new_restaurant_food_item_path %><br>
<% if current_user.owner? %>
  <%= link_to "Manage orders", restaurant_orders_path, rel: 'noopener noreferrer' , class: 'btn btn-secondary' %>
  
  <%end%>
<table border='1'>
<thead>
<tr>
<th>Id</th>
<th>Name</th>
<th>Ingredients</th>
<th>Actions</th>
</tr>
</thead>
<tbody>
<% @food_items.order(:id).each do |food_item| %>
  <tr>
  <td><%= food_item.id%></td>
  <td><%= food_item.name%></td>
  <td><%= food_item.ingredients%></td>
  <td>
 
  <%= link_to 'Destroy',  "../#{@restaurant.id}/food_items/#{food_item.id}" ,data:{
    turbo_method: :delete}%>
   
<%= link_to 'Edit' , "../#{@restaurant.id}/food_items/#{food_item.id}/edit"%>

</td>
</tr>
<%end%>
</tbody>
</table>
<%end%>
<%#= link_to 'Manage Food Items', restaurant_food_items_path(restaurant) %>

<%end%>
</tbody>
</table>
<%end%>
<%#= link_to 'Manage Food Items', restaurant_food_items_path(restaurant) %>
